body, html{
  background-color: #008000;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.navbar_section{
  border: 5px solid #000;
  height: 8%;
  background-color: #808000;
}

.main_section{
  border: 5px solid #000;
  border-top: none;
  height: 91%;
  display: flex;
  justify-content: space-between;
}

.first_section{
  margin: 3% 0 0 2%;
}
.diamond1{
  background-color: #FF0000;
  border: 3px solid #000;
  width: 150px;
  height: 150px;
  transform: rotate(45deg);
  margin: 2% 0 0 110%;
}

.diamond2{
  background-color: #FF0000;
  border: 3px solid #000;
  width: 150px;
  height: 150px;
  transform: rotate(45deg);
  margin: 2% 0 0 5%;
}

.second_section{
  display: grid;
  grid-template-areas:
    "rectangle1 circle"
    "rectangle2 circle"
    ". ."
    ". ."
    ". ."
    ". ."
    ". .";
    margin: 5% 0 0 7%;
}

.rectangle1{
  background-color: #0000FF;
  border: 3px solid #000;
  width: 150px;
  height: 15px;
  grid-area: rectangle1;
  align-self: end;
  margin-bottom: 20%;
}

.rectangle2{
  background-color: #0000FF;
  border: 3px solid #000;
  width: 150px;
  height: 15px;
  grid-area: rectangle2;
  margin-top: 20%;
}

.circle{
  background-color: #008080;
  border: 3px solid #000;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  grid-area: circle;
  align-self: center;
  margin-left: 25%;
}

.third_section{
  margin-right: 2%;
}

.big_rectangle{
  margin-top: 20%;
  background-color: #FFF;
  border: 3px solid #000;
  width: 250px;
  height: 600px;
  text-align: center;
}

.big_rectangle_label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5em;
  margin-top: 10%;
}

/* big rectangle medium -> #C83737 | big rectangle small -> #0000FF */
